# Manipulação de Dados

In [0]:
import pandas as pd

# Leitura de Arquivos

In [0]:
print ('Realizando a Leitura dos Arquivos...')

## Arquivos XLSX

## Arquivos CSV e TXT

pd.read_csv(**string**, sep = **string**, skiprows = **int**, encodig = **string especifica**)

1. nome do arquivo
2. string que separa os dados no arquivo
3. quantidade de linhas a serem puladas
4. como o arquivo está codificado: utf8 ou latin-1

In [0]:
df_materiais = pd.read_csv('materiais.csv',sep = ';', skiprows = 0, encoding = 'utf-8')

In [0]:
df_materiais['Material'].loc[0]

4000010

In [0]:
df_pedidos = pd.read_csv('pedidos.txt', sep = '|', skiprows = 2, encoding='latin-1')

## Arquivos XLSX

pd.read_excel(**string**, sheet_name = **string**, ou **int**, skiprows = **int**)

1. nome do arquivo
2. nome da aba do excel ou indice da aba do excel
3. número de linhas a serem puladas

In [0]:
df_vendas1 = pd.read_excel('vendas_1.xlsx', sheet_name = 'vendas', skiprows=0)

In [0]:
df_vendas2 = pd.read_excel('vendas_2.xlsx', sheet_name= 0, skiprows = 0)

**Tratamento de Dados**

In [0]:
print ('Realizando o Tratamento de dados')

Renomeando Colunas

dataframe.rename(columns=**dict**)

1. dict = {'coluna_antiga':'coluna_nova'}

In [0]:
df_materiais = df_materiais.rename(columns = {'Material':'material','Texto breve material':'texto_breve'})

In [0]:
df_materiais

      material              texto_breve
0      4000010         ALCACHOFRA 300MG
1      4000013  ANTI-SEPTICO ANESTESICO
2      4000014           ASSEPTCARE SOL
3      4000015           ASSEPTCARE SOL
4      4000016        BENATUX FRAMBOESA
...        ...                      ...
4577   6001409             SABONETE LIQ
4578   6001410             SABONETE LIQ
4579   6001411             TÔNICO NIVEA
4580   6001412             TÔNICO NIVEA
4581   6001415         CHOCOLATE KINDER

[4582 rows x 2 columns]

dataframe.columns = **lista**

1. lista = ['coluna_nova']

In [0]:
df_pedidos.columns = ['cod_fornecedor', 'material', 'qtd_pedido', 'texto_breve', 'qtd_estoque']

In [0]:
df_pedidos

      cod_fornecedor   material  qtd_pedido      texto_breve  qtd_estoque
0               3593  4003232.0         120   FLUCANIL 150MG           12
1               3593  4005091.0          60  BETRICORT CREME            6
2               3593  4003225.0          51   COLIRIO GEOLAB            5
3               3593  4003251.0          60    MIZONOL CREME            6
4               3593  4001716.0          20  GINO-COLON TUBO            2
...              ...        ...         ...              ...          ...
1064            4239  4000333.0           1     CRESTOR 10MG            0
1065            4239  4003698.0           1  PANTOGAR C/90CP            0
1066            4239  4000359.0           1     XARELTO 15MG            0
1067            4239  4005114.0           1        ARADOIS H            0
1068            4239  4003731.0           1     DIOVAN 160MG            0

[1069 rows x 5 columns]

In [0]:
df_vendas1.columns = ['data', 'material', 'qtd_vendas']

In [0]:
df_vendas2.columns = ['data', 'material', 'qtd_vendas']

Deltando Colunas

dataframe.drop(**lista**, axis = **string especifica** ou **int**)

1. lista de nomes de colunas ou index de linhas a serem deletados
2. 'columns' ou 'index'
3. 1 (colunas) ou 0 (linhas)

In [0]:
df_materiais = df_materiais.drop(['texto_breve'], axis='columns')

In [0]:
df_materiais

      material
0      4000010
1      4000013
2      4000014
3      4000015
4      4000016
...        ...
4577   6001409
4578   6001410
4579   6001411
4580   6001412
4581   6001415

[4582 rows x 1 columns]

dataframe[**lista**].copy()

1. lista = ['colunas a manter']

In [0]:
df_pedidos = df_pedidos[['material', 'qtd_pedido', 'qtd_estoque']].copy()

In [0]:
df_pedidos

       material  qtd_pedido  qtd_estoque
0     4003232.0         120           12
1     4005091.0          60            6
2     4003225.0          51            5
3     4003251.0          60            6
4     4001716.0          20            2
...         ...         ...          ...
1064  4000333.0           1            0
1065  4003698.0           1            0
1066  4000359.0           1            0
1067  4005114.0           1            0
1068  4003731.0           1            0

[1069 rows x 3 columns]

In [0]:
df_vendas1 = df_vendas1[['material', 'qtd_vendas']].copy()

In [0]:
df_vendas1

      material  qtd_vendas
0      6000110           1
1      6000129           1
2      6000163           1
3      6000172           1
4      6000892           1
...        ...         ...
8652   4005739           1
8653   4005739           1
8654   4005903           1
8655   4005911           1
8656   4005927           1

[8657 rows x 2 columns]

In [0]:
df_vendas2 = df_vendas2[['material', 'qtd_vendas']].copy()

In [0]:
df_vendas2

      material  qtd_vendas
0      6001085           1
1      4000020           1
2      4000020           1
3      4000020           1
4      4000045           1
...        ...         ...
8139   6000768           1
8140   6000839           1
8141   6000843           1
8142   6000969           1
8143   6000400           1

[8144 rows x 2 columns]

## Verificando Tipos de Colunas

dataframe.dtypes (para verificar tipos de todas as colunas)

dataframe ['coluna'].dtypes

In [0]:
df_materiais.dtypes

material    int64
dtype: object

In [0]:
df_pedidos.dtypes

material       float64
qtd_pedido       int64
qtd_estoque      int64
dtype: object

In [0]:
df_pedidos

       material  qtd_pedido  qtd_estoque
0     4003232.0         120           12
1     4005091.0          60            6
2     4003225.0          51            5
3     4003251.0          60            6
4     4001716.0          20            2
...         ...         ...          ...
1064  4000333.0           1            0
1065  4003698.0           1            0
1066  4000359.0           1            0
1067  4005114.0           1            0
1068  4003731.0           1            0

[1069 rows x 3 columns]

In [0]:
df_vendas1.dtypes

material      int64
qtd_vendas    int64
dtype: object

In [0]:
df_vendas2.dtypes

material      int64
qtd_vendas    int64
dtype: object

Alterando Tipos de Coluna

para apenas uma coluna:

dataframe['coluna'].astypes(**palavra reservada**)

1. palavra reservada = str ou int ou float ou bool

In [0]:
df_pedidos['material'] = df_pedidos['material'].astype(int)

In [0]:
df_pedidos

      material  qtd_pedido  qtd_estoque
0      4003232         120           12
1      4005091          60            6
2      4003225          51            5
3      4003251          60            6
4      4001716          20            2
...        ...         ...          ...
1064   4000333           1            0
1065   4003698           1            0
1066   4000359           1            0
1067   4005114           1            0
1068   4003731           1            0

[1069 rows x 3 columns]

In [0]:
df_pedidos.dtypes

material       int64
qtd_pedido     int64
qtd_estoque    int64
dtype: object

## Concatenação de Tabelas

pd.concat(**lista**)

In [0]:
df_vendas1.shape

(8657, 2)

1. lista = [lista de dataframes]

In [0]:
df_vendas = pd.concat([df_vendas1, df_vendas2])

### Resetando o Index

dataframe.reset_index(drop = bool)

1. True ou False

In [0]:
df_vendas = df_vendas.reset_index(drop = True)

In [0]:
df_vendas

       material  qtd_vendas
0       6000110           1
1       6000129           1
2       6000163           1
3       6000172           1
4       6000892           1
...         ...         ...
16796   6000768           1
16797   6000839           1
16798   6000843           1
16799   6000969           1
16800   6000400           1

[16801 rows x 2 columns]

## Agrupando Dados

dataframe.groupby(**lista**).agg(**dict**).reset_index()

1. lista = ['colunas a serem agrupadas]
2. dict = {'coluna_x':'função'}

In [0]:
df_vendas = df_vendas.groupby(['material']).agg({'qtd_vendas':'sum'}).reset_index(drop = False)

In [0]:
df_vendas

      material  qtd_vendas
0      4000013           6
1      4000014           1
2      4000015           8
3      4000016           3
4      4000017           6
...        ...         ...
2937   6001403           8
2938   6001404           3
2939   6001405           4
2940   6001409           2
2941   6001415          14

[2942 rows x 2 columns]

In [0]:
df_pedidos = df_pedidos.groupby(['material']).agg({'qtd_pedido':'sum','qtd_estoque':'sum'}).reset_index(drop = False)

In [0]:
df_pedidos

     material  qtd_pedido  qtd_estoque
0     4000010         250           25
1     4000014          60            6
2     4000019           7            0
3     4000020           9            0
4     4000047          50            5
..        ...         ...          ...
938   6001069          12            1
939   6001074          42            4
940   6001075           2            0
941   6001078          16            1
942   6001415           4            0

[943 rows x 3 columns]

Correlação de Tabelas

In [40]:
df_materiais.head(2)

   material
0   4000010
1   4000013

In [41]:
df_pedidos.head(2)

   material  qtd_pedido  qtd_estoque
0   4000010         250           25
1   4000014          60            6

In [43]:
df_vendas.head(2)

   material  qtd_vendas
0   4000013           6
1   4000014           1

pd.merge(**dataframe1**, **dataframe2**, on = **lista**, how = **string específica)

1. Tabela da esquerda
2. Tabela da direita
3. lista = ['colunas em comum']
4. how = método da correlação: 'left' (esquerda), 'right' (direita), 'inner' (ponto em comum), 'outer' (tudo)

In [0]:
df_relatorio = pd.merge(df_materiais, df_pedidos, on = ['material'], how = 'left')

In [47]:
df_relatorio

      material  qtd_pedido  qtd_estoque
0      4000010       250.0         25.0
1      4000013         NaN          NaN
2      4000014        60.0          6.0
3      4000015         NaN          NaN
4      4000016         NaN          NaN
...        ...         ...          ...
4577   6001409         NaN          NaN
4578   6001410         NaN          NaN
4579   6001411         NaN          NaN
4580   6001412         NaN          NaN
4581   6001415         4.0          0.0

[4582 rows x 3 columns]

In [0]:
df_relatorio = pd.merge(df_relatorio, df_vendas, on = ['material'], how = 'left')

Tratamento pós correlação

dataframe.fillna(**variável**)

dataframe['coluna'].fillna(**variável)

1. variável = int, float, str, bool

In [0]:
df_relatorio = df_relatorio.fillna(0)

In [0]:
df_relatorio[['qtd_pedido', 'qtd_estoque','qtd_vendas']] = df_relatorio[['qtd_pedido', 'qtd_estoque','qtd_vendas']].astype(int)

In [57]:
df_relatorio

      material  qtd_pedido  qtd_estoque  qtd_vendas
0      4000010         250           25           0
1      4000013           0            0           6
2      4000014          60            6           1
3      4000015           0            0           8
4      4000016           0            0           3
...        ...         ...          ...         ...
4577   6001409           0            0           2
4578   6001410           0            0           0
4579   6001411           0            0           0
4580   6001412           0            0           0
4581   6001415           4            0          14

[4582 rows x 4 columns]

# Regra de Negócio

In [0]:
print('Gerando Relatório..')

## Operações entre colunas sem condicional

dataframe['coluna_x'] **operador** dataframe['coluna_y']

1. operador: todos os operandos

In [0]:
df_relatorio['qtd_loja'] = df_relatorio['qtd_pedido'] + df_relatorio['qtd_estoque']

In [0]:
df_relatorio = df_relatorio[['material', 'qtd_loja', 'qtd_vendas']].copy()

# Operações entre colunas com condicional

def funcao(parametro):

dataframe.apply(lambda row: funcao(row['coluna']), axis = **columns** ou 1)

In [0]:
def calular_porcentagem(loja, vendas):
  if (vendas != 0):
    return round(loja/vendas, 2)
  elif(loja != 0):
    return 1.2
  else:
    return 0

In [0]:
df_relatorio['porcentagem'] = df_relatorio.apply(lambda row: calular_porcentagem(row['qtd_loja'], row['qtd_vendas']), axis = 'columns')

In [0]:
def definir_status(porcentagem):
  if (porcentagem >= 1.2):
    return 'alerta'
  else:
    return ' '

In [0]:
df_relatorio['status'] = df_relatorio.apply(lambda row: definir_status(row['porcentagem']),axis= 'columns')

In [77]:
df_relatorio

      material  qtd_loja  qtd_vendas  porcentagem  status
0      4000010       275           0         1.20  alerta
1      4000013         0           6         0.00
2      4000014        66           1        66.00  alerta
3      4000015         0           8         0.00
4      4000016         0           3         0.00
...        ...       ...         ...          ...     ...
4577   6001409         0           2         0.00
4578   6001410         0           0         0.00
4579   6001411         0           0         0.00
4580   6001412         0           0         0.00
4581   6001415         4          14         0.29

[4582 rows x 5 columns]

# Ordenando Colunas

dataframe.sort_values(**lista**, ascending = **lista**)

1. lista = [colunas a serem ordenadas]
2. lista = [booleanos]

True = ordena do menor para o maior
False = ordena do maior para o menor

In [0]:
df_relatorio = df_relatorio.sort_values(['qtd_loja'], ascending= [False])

In [80]:
df_relatorio

      material  qtd_loja  qtd_vendas  porcentagem  status
2800   4004641       525           0         1.20  alerta
1188   4001448       462          17        27.18  alerta
877    4001064       440           3       146.67  alerta
2929   4005270       401           1       401.00  alerta
3579   4006391       330           0         1.20  alerta
...        ...       ...         ...          ...     ...
514    4000597         0           0         0.00
513    4000596         0           0         0.00
512    4000595         0           4         0.00
2142   4003005         0           0         0.00
2291   4003569         0           0         0.00

[4582 rows x 5 columns]

Filtro

dataframe[(dataframe['coluna_x']>0)]

and (&)

or (|)

not (~)

In [0]:
df_relatorio_reduzido = df_relatorio[(df_relatorio['status'] != 'alerta') & (df_relatorio['qtd_loja']>0)]

In [85]:
df_relatorio_reduzido

      material  qtd_loja  qtd_vendas  porcentagem status
670    4000793        15          70         0.21
672    4000795        13          30         0.43
7      4000020         9          27         0.33
2619   4004124         8          21         0.38
6      4000019         7         151         0.05
4581   6001415         4          14         0.29
1318   4001620         3           5         0.60
2380   4003695         3           6         0.50
1902   4002553         2          13         0.15
299    4000360         2           2         1.00
381    4000446         2          45         0.04
4009   6000425         2           5         0.40
139    4000173         2           3         0.67
4410   6001075         2           2         1.00
488    4000567         1           5         0.20
779    4000927         1           2         0.50
247    4000301         1           2         0.50
2379   4003694         1           1         1.00
275    4000331         1           5         0.20
277    4000333         1           3         0.33
2383   4003698         1           9         0.11
1542   4001984         1          11         0.09
2790   4004594         1           4         0.25
2489   4003833         1          21         0.05
2217   4003322         1          11         0.09
2263   4003530         1          45         0.02
2410   4003731         1           7         0.14
2870   4005114         1           1         1.00
1716   4002276         1           2         0.50
298    4000359         1           3         0.33
1816   4002431         1          56         0.02

# Exportando Dados

## Exportando formato .CSV ou .TXT

dataframe.to_csv(**string**, sep = **string**, spkirows = **int**)

1. nome do arquivo
2. sep = string que vai separar os dados

In [0]:
df_relatorio.to_csv('relatorio_final.csv', sep = ';')

33 Exportando formato .XLSX

writer = pd.ExcelWriter(**string**)

dataframe.to_excel(writer, sheet_name = **string**, index = **bool**)

writer.salve()

In [0]:
writer = pd.ExcelWriter('Relatorio Final.xlsx')

df_relatorio.to_excel(writer, sheet_name = 'relatorio', index = False)
df_relatorio_reduzido.to_excel(writer, sheet_name = 'reduzido', index= False)

writer.save()

In [0]:
print('Relatório Gerado!')

In [0]:
input()